* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    animation: body-bg 30s ease-in-out infinite;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    position: relative;
    margin:100px auto 100px;
    animation: spin 30s ease-in-out infinite;
}

@keyframes body-bg {
    0% {background-color:#000000;}
    25% {background-color:#aeaeae;}
    50% {background-color: #ffffff;}
    75% {background-color: #aeaeae;}
    100% {background-color: #000000;}
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(360deg);}
    100% {transform: rotate(-360deg);}
}

@keyframes black-1 {
    0% {transform: rotate(0deg); background-color:#000000; color: #ffffff;}
    50% {transform: rotate(20deg); background-color: #aeaeae; color: #000000;}
    100% {transform: rotate(-20deg); background-color: #000000; color: #ffffff;}
}
@keyframes grey-1 {
    0% {transform: rotate(0deg); background-color: #aeaeae; color: #000000;}
    50% {transform: rotate(20deg); background-color: #000000; color: #ffffff;}
    100% {transform: rotate(-20deg); background-color: #aeaeae; color: #000000;}
}

@keyframes grey-2 {
    0% {transform: rotate(0deg); background-color: #aeaeae; color: #000000;}
    50% {transform: rotate(-20deg); background-color: #000000; color: #ffffff;}
    100% {transform: rotate(20deg); background-color: #aeaeae; color: #000000;}
}

.section-1 {
    height: 70px;
    width: 150px;
    background-color: #000000;
    position: absolute;
    top: 0;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ffffff;
    animation: black-1 30s ease-in-out infinite;
}

.section-2 {
    height: 150px;
    width: 70px;
    background-color: #aeaeae;
    position: absolute;
    top: 70px;
    right: 35px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ffffff;
    animation: grey-1 30s ease-in-out infinite;
}
.section-3 {
    height: 150px;
    width: 70px;
    background-color: #aeaeae;
    position: absolute;
    top: 0;
    right: 185px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ffffff;
    animation: grey-1 30s ease-in-out infinite;
}
.section-4 {
    height: 70px;
    width: 150px;
    background-color: #000000;
    position: absolute;
    top: 150px;
    right: 105px;
    font-size: 1rem;
    border: 1px solid #ffffff;
    text-align: center;
    animation: black-1 30s linear infinite;
}


.parent-circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    margin-left: 100px;
    position: relative;
    animation: circle-spin 30s ease-in-out infinite;
}

.parent-ball-1 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    top: -15px;
    right: 50%;
    animation: ball-1 30s linear infinite;
}
.parent-ball-2 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #aeaeae;
    position: absolute;
    bottom: -15px;
    right: 45%;
    animation: ball-2 30s linear infinite;
}

.child-circle {
    height: 290px;
    width: 290px;
    border-radius: 60%;
    border: 4px solid #ffffff;
    position: absolute;

}

@keyframes circle-spin {
    0% {transform: rotate(0deg); border-color:#ffffff;}
    25% {border-color:#000000;}
    50% {border-color: #aeaeae;}
    75% {border-color: #000000;}
    100% {transform: rotate(360deg); border-color: #ffffff;}
}

@keyframes ball-1 {
    0% {background-color: #000000;}
    25% {background-color: red;}
    50% {background-color: #aeaeae;}
    75% {background-color: red;}
    100% {background-color: #000000;}
}

@keyframes ball-2 {
    0% {background-color: #aeaeae;}
    25% {background-color: red;}
    50% {background-color: #000000;}
    75% {background-color: red;}
    100% {background-color: #aeaeae;}
}


h1 {
    margin: 100px;
    margin-left: 300px;
    font-size: 3rem;
    color: red;
    text-shadow: 3px 3px 5px red;
    animation: title 30s ease-out infinite;
}

@keyframes title {
    0% {scale: 1;}
    100% {scale: 1.5;}
    0% {scale: 1;}
}